<script>
export default {
  data: () => ({
    messages: [
      {
        avatar: "64160247.jpg",
        name: "Phatcharin Butsing",
      },
    ],
  }),
};
</script>

<template>
  <v-container>
    <v-expansion-panels variant="popout" class="pa-4">
      <v-expansion-panel v-for="(message, i) in messages" :key="i" hide-actions>
        <v-expansion-panel-title>
          <v-row align="center" class="spacer" no-gutters>
            <v-col cols="4" sm="2" md="2">
              <v-avatar size="70px">
                <v-img
                  v-if="message.avatar"
                  alt="Avatar"
                  src="64160247.jpg"
                  cover
                ></v-img>
                <v-icon
                  v-else
                  :color="message.color"
                  :icon="message.icon"
                ></v-icon>
              </v-avatar>
            </v-col>

            <v-col class="hidden-xs-only text-left ml-2" sm="5" md="3">
              <strong v-html="message.name"></strong>
              <span v-if="message.total" class="text-grey">
                &nbsp;({{ message.total }})
              </span>
            </v-col>
          </v-row>
        </v-expansion-panel-title>

        <v-expansion-panel-text>
          <v-card-text>
            <v-row>
              <v-col cols="6">
                <v-card
                  title="ประวัติการศึกษา"
                  text="มัธยมศึกษาปีที่1-6 โรงเรียนสตรีนครสวรรค์ ปัจจุบันศึกษาอยู่ที่ มหาวิทยาลัยบูรพา"
                  width="350"
                >
                  <v-img
                    src="https://upload.wikimedia.org/wikipedia/th/2/27/Buu0001.jpeg"
                    width="300"
                  ></v-img>
                </v-card>
              </v-col>
              <v-col cols="6">
                <v-card
                  title="สิ่งที่สนใจ"
                  text="สนใจหมูกระทะ ชาบู ปิ้งย่าง อยากทำร้านหมูกระทะเป็นของตัวเอง"
                  width="350"
                >
                  <v-img
                    src="https://www.shabuguru.com/wp-content/uploads/2022/11/311820249_146358094780879_4738391672323373909_n-1024x722.jpg"
                    width="200"
                  ></v-img>
                </v-card>
              </v-col>
            </v-row>
          </v-card-text>
        </v-expansion-panel-text>
      </v-expansion-panel>
    </v-expansion-panels>
  </v-container>
</template>
